USE employee_manager;

-- Departments
INSERT INTO departments (department_name, location, manager_id) VALUES
('Human Resources', 'Hà Nội HQ', NULL),
('Finance', 'Hà Nội HQ', NULL),
('IT', 'Hà Nội HQ', NULL),
('Sales', 'Ho Chi Minh City', NULL),
('Research and Development', 'Hà Nội HQ', NULL);

-- Employees (39 người)

-- Gán manager cho phòng ban
UPDATE departments SET manager_id = 1  WHERE department_name = 'Human Resources';
UPDATE departments SET manager_id = 4  WHERE department_name = 'Finance';
UPDATE departments SET manager_id = 7  WHERE department_name = 'IT';
UPDATE departments SET manager_id = 11 WHERE department_name = 'Sales';
UPDATE departments SET manager_id = 14 WHERE department_name = 'Research and Development';

-- Projects (8 dự án)

-- Assignments (~30 bản ghi)
-- HR projects

-- Attendance (3 ngày x 20 NV ~ 60 bản ghi)
-- 2025-01-10 Friday

-- 2025-01-11 Saturday

-- 2025-01-12 Sunday

-- Salary payments

-- Bonus / Deductions
